hr {
    border-top: 0.04rem solid rgb(202, 200, 200);
}

h2{
    margin-left: 1.5rem;
}

u {
    text-decoration-color: rgb(221, 33, 96);
}

.arrow {
    color: rgb(221, 33, 96);
}

a {
    text-decoration: none;
    color: black;
}

.main-heading {
    transform: rotate(-90deg);
    display: inline-block;
    font-size: .65em;
    font-weight: 100;
}